<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Chat
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-item>

<ion-label>New chat with.. </ion-label>
<ion-select [(ngModel)]="user" submitText="Ok" cancelText="Cancel">
        <ion-option *ngFor="let lista of listaNombres " >{{lista}}</ion-option>
        
</ion-select>
<button ion-button color="light" clear item-right icon-only (click)="addChat(this.user)">
      <ion-icon name='add'></ion-icon>
</button>

</ion-item>
  <ion-list>
  <ion-item *ngFor="let listaU of listaUsuarios ">
   <ion-avatar item-left>
      <img src="{{listaU.child('image').val()}}">
    </ion-avatar>
    <h2>{{listaU.child('username').val()}}</h2>
    <button ion-button clear item-right (click)="openChat(listaU.child('username').val())">View</button>
  </ion-item>
</ion-list>


</ion-content>
<button ion-button secondary menuToggle>Toggle Menu</button>
