<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      To Sell
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="blue" (click)="newSale()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <h4 style="color:white">My Sales</h4>
  <ion-card>
    <ion-list *ngFor="let data of notifications">
      <ion-item-sliding *ngIf="(data.child('state').val()==='active')">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
               <button ion-button color="light" clear icon-only (click)="viewPhotos(data)">
              <ion-icon name='images'></ion-icon>
              </button>
              <br>
              <br>
              <h2 style="color:white;">{{data.child('category').val()}}</h2>
              <h2 style="color:white;">{{data.child('subCategory').val()}}</h2>
              </ion-col>
              <ion-col>
                <h2 style="color:white;"><strong>Title: {{data.child('name').val()}}</strong></h2>
                <h3 style="color:white;">Autor: {{data.child('autor').val()}}</h3>
                <h3 style="color:white;">Language: {{data.child('language').val()}}</h3>
                <h3 style="color:white;">User: {{data.child('user').val()}}</h3>
                <h1 style="color:white;"><strong>Price: {{data.child('price').val()}}</strong></h1>
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="light-blue" (click)="lockNot(data, 'lock')">
    LOCK
    	</button>
          <button ion-button color="danger" (click)="deleteNot(data)">
    DELETE
    	</button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding *ngIf="(data.child('state').val()!=='active')">
         <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
               <button ion-button color="light" clear icon-only (click)="viewPhotos(data)">
              <ion-icon name='images'></ion-icon>
              </button>
              <br>
              <br>
              <h2 style="color:white;">{{data.child('category').val()}}</h2>
              <h2 style="color:white;">{{data.child('subCategory').val()}}</h2>
              </ion-col>
              <ion-col>
                <h2 style="color:white;"><strong>Title: {{data.child('name').val()}}</strong></h2>
                <h3 style="color:white;">Autor: {{data.child('autor').val()}}</h3>
                <h3 style="color:white;">Language: {{data.child('language').val()}}</h3>
                <h3 style="color:white;">User: {{data.child('user').val()}}</h3>
                <h1 style="color:white;"><strong>Price: {{data.child('price').val()}}</strong></h1>
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="light-blue" (click)="lockNot(data, 'active')">
    ACTIVE
    	</button>
          <button ion-button color="danger" (click)="deleteNot(data)">
    DELETE
    	</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>
<button ion-button secondary menuToggle>Toggle Menu</button>